/*
	UI Stylesheet
	#264653
	#2a9d8f
	#e9c46a
	#f4a261
	#e76f51
*/

/*
	#00ff6c
	#9600ff
	#00d7ff
	#ff00d7
	#fffc00
*/

*{
	outline: var(--Debug-ElementOutline);
	transition: var(--Element-Transition-Delay);
	/* -webkit-tap-highlight-color: rgba(208, 208, 208, 0.63); */
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: transparent;
}

body{
	margin: 0;
	padding: 0;
	background-color: var(--BGColor);
	background-image: 
    radial-gradient(rgba(255, 255, 255, 0.1) 5%, transparent 10%);
	background-position: 8px 8px;
	background-size: 16px 16px;
	background-color: var(--BGColor);
}

a{
	text-decoration: none;
	cursor: pointer;
}

.UI_ElementContainer{
	width: 100%;
	height: 100%;
	position: fixed;
	margin: 0;
	padding: 0;
	top: 0;
	pointer-events: none;
	z-index: 150;
}

.UI_ElementContainer > *{
	pointer-events: all;
}

.UI_Header{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 50px;
	display: grid;
	grid-template-columns: 50px 1fr 50px;
	align-content: center;
	align-items: center;
	position: fixed;
	user-select: none;
	z-index: 50;
	overflow-y: hidden;
}

.UI_Header[Color = "Fill"]{
	background-color: var(--Theme-Dynamic-Level-D2);
}

.UI_Header[Color = "Transparent"]{
	background-color: transparent;
}
/* 
.UI_Header[Color = "Transparent"] > .UI_Header_Title > .UI_Header_Logo > .UI_Header_Title_Logo_Big{
	height: 75px;
} */

.UI_Header_Hamburger{
	width: 30px;
	height: 30px;
	padding: 10px;
	transition: var(--Element-Transition-Delay);
}

.UI_Header_Hamburger:hover{
	background-color: var(--Theme-Dynamic-Level-D3);
	cursor: pointer;
	box-shadow: inset 5px 5px 0px 0px var(--Theme-Dynamic-Level-D4), inset 4px 4px 0px 0px var(--Theme-Dynamic-Level-D4), inset   3px 3px 0px 0px var(--Theme-Dynamic-Level-D4),  inset 2px 2px 0px 0px var(--Theme-Dynamic-Level-D4), inset   1px 1px 0px 0px var(--Theme-Dynamic-Level-D4);
}

.UI_Header_Hamburger:active{
	box-shadow:  inset 8px 8px 0px 0px var(--Theme-Dynamic-Level-D4), inset 7px 7px 0px 0px var(--Theme-Dynamic-Level-D4), inset 6px 6px 0px 0px var(--Theme-Dynamic-Level-D4), inset 5px 5px 0px 0px var(--Theme-Dynamic-Level-D4), inset 4px 4px 0px 0px var(--Theme-Dynamic-Level-D4), inset   3px 3px 0px 0px var(--Theme-Dynamic-Level-D4),  inset 2px 2px 0px 0px var(--Theme-Dynamic-Level-D4), inset   1px 1px 0px 0px var(--Theme-Dynamic-Level-D4);
}

.UI_Header_Title{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.UI_Header_Title[ActiveTitle = "Home"] > .UI_Header_Logo {
	transform: translateY(0px);
}

.UI_Header_Title[ActiveTitle = "AltPage"] > .UI_Header_Logo {
	transform: translateY(-50px);
}

.UI_Header_Title[ActiveTitle = "Home"] > .UI_Header_AltPage_URL {
	transform: translateY(50px);
}

.UI_Header_Title[ActiveTitle = "AltPage"] > .UI_Header_AltPage_URL {
	transform: translateY(-3px);
}

.UI_Header_Logo{
	position: absolute;
}

.UI_Header_Title_Logo_Big{
	height: 50px;
	/* display: none; */
}

.UI_Header_Title_Logo_Small{
	height: 40px;
	display: none;
}

.UI_Header_Title_Text{
	font-family: "Hansief";
	color: white;
	text-transform: uppercase;
	margin: 0;
	transition: var(--Element-Transition-Delay);
}

.UI_Header_Title_Text:hover{
	letter-spacing: 5px;
}

.UI_Header_AltPage_Title{
	font-family: var(--Text-Font-Header-Title);
	color: var(--Theme-Dynamic-Level-L2);
	text-transform: uppercase;
	margin: 0;
	font-size: 40px;
	cursor: pointer;
}

.UI_Header_AltPage_Title:hover{
	letter-spacing: 5px;
}

.UI_Header_Share{
	width: 30px;
	height: 30px;
	padding: 10px;
	transition: var(--Element-Transition-Delay);
}

.UI_Header_Share:hover{
	background-color: var(--Theme-Dynamic-Level-D3);
	cursor: pointer;
	box-shadow: inset 5px 5px 0px 0px var(--Theme-Dynamic-Level-D4), inset 4px 4px 0px 0px var(--Theme-Dynamic-Level-D4), inset   3px 3px 0px 0px var(--Theme-Dynamic-Level-D4),  inset 2px 2px 0px 0px var(--Theme-Dynamic-Level-D4), inset   1px 1px 0px 0px var(--Theme-Dynamic-Level-D4);
}

.UI_Header_Share:active{
	box-shadow:  inset 8px 8px 0px 0px var(--Theme-Dynamic-Level-D4), inset 7px 7px 0px 0px var(--Theme-Dynamic-Level-D4), inset 6px 6px 0px 0px var(--Theme-Dynamic-Level-D4), inset 5px 5px 0px 0px var(--Theme-Dynamic-Level-D4), inset 4px 4px 0px 0px var(--Theme-Dynamic-Level-D4), inset   3px 3px 0px 0px var(--Theme-Dynamic-Level-D4),  inset 2px 2px 0px 0px var(--Theme-Dynamic-Level-D4), inset   1px 1px 0px 0px var(--Theme-Dynamic-Level-D4);
}

.UI_Header_Share_Toast{
	background-color: var(--Theme-Dynamic-Level-D2);
	margin-top: 50px;
	width: 100px;
	padding: 5px;
	float: right;
	z-index: 0;
	opacity: 0;
}

.UI_Header_Share_Toast_Text{
	font-family: var(--Text-Font-Header-Text);
	color: white;
	margin: 0;
	text-align: center;
}

.UI_Header_ColorOverlay{
	width: 100%;
	position: absolute;
	top: 0;
	z-index: -1;
	user-select: none;
	height: 450px;
	background-image: url("../Assets/Backgrounds/Background_Header_Fade_1.png");
	background-position: center;
	background-size: cover;
	display: none;
}

.UI_Header_BlurredEffect{
	width: 80%;
	height: 500px;
	/* background-color: var(--ColorProfile-BGColor-Level3); */
	background-image: var(--ColorProfile-BGImage);
	border-radius: 50%;
	filter: blur(200px);
	position: absolute;
	top: -250px;
	z-index: -1;
	opacity: 20%;
}

.UI_Header_BackToParent{
	background-color: var(--Theme-Dynamic-Level-D2);
	outline: unset;
	border: unset;
	position: fixed;
	top: 50px;
	margin: 0;
	padding: 10px;
	display: grid;
	grid-template-columns: 50px 1fr;
	align-items: center;
	max-width: 50px;
	overflow-x: hidden;
	cursor: pointer;
}

.UI_Header_BackToParent:hover{
	max-width: 1250px;
	background-color: var(--Theme-Dynamic-Level-D3);
	cursor: pointer;
	box-shadow: inset 5px 5px 0px 0px var(--Theme-Dynamic-Level-D4), inset 4px 4px 0px 0px var(--Theme-Dynamic-Level-D4), inset   3px 3px 0px 0px var(--Theme-Dynamic-Level-D4),  inset 2px 2px 0px 0px var(--Theme-Dynamic-Level-D4), inset   1px 1px 0px 0px var(--Theme-Dynamic-Level-D4);
}

.UI_Header_BackToParent_Icon{
	width: 30px;
	height: 30px;
}

.UI_Header_BackToParent_Text{
	margin: 0;
	font-family: var(--Text-Font-Primary);
	color: white;
}

.UI_Sidebar{
	position: fixed;
	height: calc(100% - 50px);
	top: 50px;
	width: 300px;
	background-color: var(--Theme-Dynamic-Level-D2);
	padding: 10px;
	padding-right: 20px;
	display: grid;
	grid-template-rows: 1fr auto;
	grid-template-columns: 1fr;
	user-select: none;
	overflow-y: auto;
	z-index: 50;
	transition: 0.35s;
}

.UI_Sidebar[State = "Collapsed"]{
	transform: translateX(-101%);
}

.UI_Sidebar[State = "Expanded"]{
	transform: translateX(0%);
}

.UI_Sidebar_Main{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.UI_Sidebar_Main_Item{
	width: 100%;
	height: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
	padding: 5px;
	/* border-radius: 5px; */
	transition: var(--Element-Transition-Delay);
}

.UI_Sidebar_Main_Item:hover{
	background-color: var(--Theme-Dynamic-Level-D1);
	box-shadow: 5px 5px 0px 0px var(--Theme-Dynamic-Level-D3), 4px 4px 0px 0px var(--Theme-Dynamic-Level-D3), 3px 3px 0px 0px var(--Theme-Dynamic-Level-D3), 2px 2px 0px 0px var(--Theme-Dynamic-Level-D3), 1px 1px 0px 0px var(--Theme-Dynamic-Level-D3);
	transform: translateX(-5px) translateY(-5px);
}

.UI_Sidebar_Main_Item:active{
	background-color: var(--Theme-Dynamic-Level-D1);
	transform: unset;
	box-shadow: unset;
}

.UI_Sidebar_Main_Item_Text{
	font-family: var(--Text-Font-Sidebar-Links);
	color: white;
	margin: 0;
	font-size: 20;
	text-decoration: none;
}

.UI_Sidebar_Secondary{
	width: 1fr;
	display: flex;
	flex-direction: column;
	border-top: solid white 1px;
	padding-bottom: 20px;
}

.UI_Sidebar_Secondary_Item{
	width: 100%;
	height: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
	padding: 5px;
	/* border-radius: 5px; */
	transition: var(--Element-Transition-Delay);
}

.UI_Sidebar_Secondary_Item:hover{
	background-color: var(--Theme-Dynamic-Level-D1);
	box-shadow: 5px 5px 0px 0px var(--Theme-Dynamic-Level-D3), 4px 4px 0px 0px var(--Theme-Dynamic-Level-D3), 3px 3px 0px 0px var(--Theme-Dynamic-Level-D3), 2px 2px 0px 0px var(--Theme-Dynamic-Level-D3), 1px 1px 0px 0px var(--Theme-Dynamic-Level-D3);
	transform: translateX(-5px) translateY(-5px);
}

.UI_Sidebar_Secondary_Item:active{
	background-color: var(--Theme-Dynamic-Level-D1);
	transform: unset;
	box-shadow: unset;
}

.UI_Sidebar_Secondary_Item_Text{
	font-family: var(--Text-Font-Sidebar-Links);
	color: white;
	margin: 0;
	font-size: 15;
	text-decoration: none;
}

.UI_Sidebar_Secondary_Footer{
	font-family: var(--Text-Font-Sidebar-Text);
	color: white;
	margin: 0;
	font-size: 10;
	text-decoration: none;
	padding-left: 5px;
}

.UI_Curtain{
	width: 150%;
    height: 250%;
    top: -50%;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    transform: rotate(160deg);
	pointer-events: none;
}

.UI_Curtain[State = "Collapsed"]{
	pointer-events: none;
	transform: rotate(160deg) translateX(-100px);
}

.UI_Curtain[State = "Expanded"]{
	pointer-events: all;
	transform: rotate(160deg) translateX(0px);
}

.UI_Curtain_Item{
	background-color: var(--Theme-Dynamic-Opacitated);
	width: 0%;
	opacity: 85%;
}

.UI_Curtain[State = "Collapsed"] > .UI_Curtain_Item{
	width: 0%;
	opacity: 100%;
	/* background-color: white; */
}

.UI_Curtain[State = "Expanded"] > .UI_Curtain_Item{
	width: 100%;
	opacity: 85%;
}

.UI_ImagePreview{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: var(--Theme-Dynamic-Opacitated);
	/* opacity: 50%; */
	z-index: 60;
	display: flex;
	justify-content: center;
	align-items: center;
}

.UI_ImagePreview[State = "Inactive"]{
	pointer-events: none;
	opacity: 0%;
}

.UI_ImagePreview[State = "Active"]{
	pointer-events: all;
	opacity: 100%;
}

.UI_ImagePreview[State = "Inactive"] > .UI_ImagePreview_Image{
	transform: scale(0.9);
}

.UI_ImagePreview[State = "Active"] > .UI_ImagePreview_Image{
	transform: scale(1);
}

.UI_ImagePreview_Image{
	/* background-color: aliceblue; */
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.UI_ImagePreview_Image_Image{
	width: 90%;
	height: 90%;
	object-fit: contain;
	cursor: pointer;
}

.UI_ImagePreview_Controls{
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
}

.UI_ImagePreview_Controls_Button{
	width: 50px;
	height: 50px;
	outline: none;
	border: unset;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--Theme-Dynamic-Level-D2);
}

.UI_ImagePreview_Controls_Button_Icon{
	width: 25px;
}

.UI_ImagePreview_Controls_Button:hover{
	background-color: var(--Theme-Dynamic-Level-D1);
	cursor: pointer;
	/* transform: translateX(-10px) translateY(-10px); */
	box-shadow: inset 5px 5px 0px 0px var(--Theme-Dynamic-Level-D3), inset 4px 4px 0px 0px var(--Theme-Dynamic-Level-D3), inset   3px 3px 0px 0px var(--Theme-Dynamic-Level-D3),  inset 2px 2px 0px 0px var(--Theme-Dynamic-Level-D3), inset   1px 1px 0px 0px var(--Theme-Dynamic-Level-D3);
}

.TargetArea_CornerButtons{
	width: 300px;
	max-width: 500px;
	height: 70px;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 99;
	pointer-events: none;
}

.TargetArea_CornerButtons:hover > .CornerButtons{
	opacity: 100%;
}

.CornerButtons{
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: auto;
	display: flex;
	flex-direction: row;
	cursor: pointer;
	z-index: 98;
/* background: blue; */
	opacity: 100%;
	transition: var(--Element-Transition-Delay);
}

.CornerButtons_Button{
	z-index: 100;
	filter: var(--Element-Icon-Brightness);
	background-color: var(--ColorProfile-BGColor-Level1);
	padding: 7px;
	/* border-radius: 7px; */
	/* border-bottom-style: solid; */
	/* border-bottom-color: var(--BGColor-General); */
	/* border-bottom-width: 3px; */
	box-shadow: 5px 5px 0px 0px var(--ColorProfile-BGColor-Level2);
	width: 30px;
	height: 30px;
	margin-left: 10px;
	user-select: none;
	transition: var(--Element-Transition-Delay);
}

.CornerButtons_Button:hover{
	background-color: var(--ColorProfile-BGColor-Level2);
	transform: scale(1.05);
	box-shadow: 10px 10px 0px 0px var(--ColorProfile-BGColor-Level3);
	cursor: pointer;
}

.CornerButtons_Button:active{
	translate: 5px 5px; 
	box-shadow: 0px 0px 0px 0px var(--ColorProfile-BGColor-Level3);
    /* animation: UI_Button_Click 1s forwards; */
	/* animation-fill-mode: forwards; */
}

@keyframes UI_Button_Click{
    25% {translate: 5px 5px; box-shadow: 0px 0px 0px 0px var(--ColorProfile-BGColor-Level3);}
    55% {translate: -3px -3px; box-shadow: 25px 25px 0px 0px var(--ColorProfile-BGColor-Level3);}
    80% {translate: 0px 0px; box-shadow: 10px 10px 0px 0px var(--ColorProfile-BGColor-Level3);}
    100% {translate: 0px 0px; box-shadow: 10px 10px 0px 0px var(--ColorProfile-BGColor-Level3);}
}


.CornerButtons_Button > img {
	filter: var(--Element-Icon-Brightness);
}

.Main_Content_Container{
	width: calc(100%);
	height: calc(100% - 50px);
	position: fixed;
	margin-top: 50px;
	overflow-y: auto;
	/* padding: 20px; */
	padding-top: 0px;
	padding-bottom: 50px;
	scroll-behavior: smooth;
}

.Main_Subwindows_Container{
	width: calc(100%);
	height: calc(100% - 50px);
	position: fixed;
	margin-top: 50px;
	overflow-y: auto;
	/* padding: 20px; */
	padding-top: 0px;
	z-index: 40;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	border-radius: 10px;
	z-index: 75;
	transition: var(--Element-Transition-Delay);
}
::-webkit-scrollbar:hover{
	/* width: 40px; */
}



/* Track */
::-webkit-scrollbar-track {
	/* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: var(--Theme-Dynamic-Level-D2);
	/* border-radius: 10px; */
	transition: var(--Element-Transition-Delay);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background-color: var(--Theme-Dynamic-Level-D3);
	/* border-radius: 10px; */
	width: 50px;
	height: 50px;
}
/* Selection color */
::selection{
	background-color: var(--Theme-Dynamic-Base);
}

.ComingSoon{
	position: absolute;
	width: calc(100% - 40px); 
	height: calc(100% - 50px - 40px);
	top: 50px;
	background-color: #264653;
	z-index: 49;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.ComingSoon_Icon{
	width: 150px;
}

.ComingSoon_Title{
	font-family: Hansief;
	color: white;
	text-transform: uppercase;
	font-size: 55;
	margin: 0;
	text-align: center;
}

.ComingSoon_Subtitle{
	font-family: Raleway;
	color: white;
	text-transform: uppercase;
	margin: 0;
	text-align: center;
}

.Page_BackButton{
	display: grid;
	grid-template-columns: 50px 1fr;
	position: sticky;
	top: 10px;
	background-color: #264653;
	align-items: center;
	transition: var(--Element-Transition-Delay);
	width: 50px;
	overflow-x: hidden;
	left: 10%;
	display: none;
}

.Page_BackButton:hover{
	width: 250px;
}

.Page_BackButton_Icon{
	width: 30px;
	padding: 10px;
}

.Page_BackButton_Text{
	font-family: Roboto;
	color: white;
	text-wrap: nowrap;
}

.Page_Text_Title{
	font-family: VX Rocket;
	color: var(--ColorProfile-Text-Color);
	font-size: 100px;
	margin: 0;
	letter-spacing: 3px;
	margin-left: var(--Element-Margin-Left);
	padding: var(--Element-Padding);
	padding-left: 0;
	word-wrap: break-word;
}

.Subpage_Text_CurrentPage_Container{
	width: auto;
}

.Subpage_Text_ParentPage_Title{
	font-family: VX Rocket;
	color: var(--ColorProfile-Text-Color);
	font-size: 100px;
	margin: 0;
	letter-spacing: 3px;
	margin-left: var(--Element-Margin-Left);
	padding: var(--Element-Padding);
	padding-left: 0;
	word-wrap: break-word;
	/* transition: 1s; */
	translate: 0px 30px;
	width: calc(100% - var(--Element-Margin-Left) - var(--Element-Padding) - 230px);
	animation-name: Subpage_Animate_ParentPage_Title;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.3s;
	white-space: nowrap;
}

@keyframes Subpage_Animate_ParentPage_Title {
	0% {
		font-size: 100px;
		white-space: nowrap;
	}
	99% {
		font-size: 30px;
	}
	100% {
		font-size: 30px;
		white-space: unset;
	}
}

.Subpage_Text_CurrentPage_Title{
	font-family: Hauser;
	color: var(--ColorProfile-Text-Color);
	font-size: 30px;
	margin: 0;
	letter-spacing: 3px;
	margin-left: var(--Element-Margin-Left);
	padding: var(--Element-Padding);
	padding-left: 0;
	word-wrap: break-word;
	/* transition: 1s; */
	animation-name: Subpage_Animate_CurrentPage_Title;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.3s;
}

@keyframes Subpage_Animate_CurrentPage_Title {
	from {
		font-size: 30px;
		white-space: nowrap;
	}
	to {
		font-size: 100px;
		white-space: unset;
	}
}

.Page_Text_Description{
	font-family: Raleway;
	color: var(--ColorProfile-Text-Color);
	/* font-size: 100px; */
	margin: 0;
	/* letter-spacing: 3px; */
	margin-left: var(--Element-Margin-Left);
	padding: var(--Element-Padding);
	padding-left: 0;
	padding-top: 0;
}

.General_Button{
	background-color: var(--Theme-Dynamic-Level-D1);
	font-family: Franklin;
	text-transform: uppercase;
	color: white;
	padding: 10px;
	/* box-shadow: 5px 5px 0px 0px var(--Theme-Dynamic-Level-D3); */
	box-shadow: 5px 5px 0px 0px var(--Theme-Dynamic-Level-D2), 4px 4px 0px 0px var(--Theme-Dynamic-Level-D2), 3px 3px 0px 0px var(--Theme-Dynamic-Level-D2), 2px 2px 0px 0px var(--Theme-Dynamic-Level-D2), 1px 1px 0px 0px var(--Theme-Dynamic-Level-D2);
	transform: translateX(-5px) translateY(-5px);
	transition: var(--Element-Transition-Delay);
	text-align: center;
	user-select: none;
	border: unset;
	cursor: pointer;
}

.General_Button:hover{
	translate: -5px -5px;
	background-color: var(--Theme-Dynamic-Level-D1);
	/* box-shadow: 10px 10px 0px 0px var(--Theme-Dynamic-Level-D2); */
	box-shadow: 10px 10px 0px 0px var(--Theme-Dynamic-Level-D2), 9px 9px 0px 0px var(--Theme-Dynamic-Level-D2), 8px 8px 0px 0px var(--Theme-Dynamic-Level-D2), 7px 7px 0px 0px var(--Theme-Dynamic-Level-D2), 6px 6px 0px 0px var(--Theme-Dynamic-Level-D2), 5px 5px 0px 0px var(--Theme-Dynamic-Level-D2), 4px 4px 0px 0px var(--Theme-Dynamic-Level-D2), 3px 3px 0px 0px var(--Theme-Dynamic-Level-D2), 2px 2px 0px 0px var(--Theme-Dynamic-Level-D2), 1px 1px 0px 0px var(--Theme-Dynamic-Level-D2);
}

.General_Button:active{
	translate: 5px 5px;
	box-shadow: 0px 0px 0px 0px var(--Theme-Dynamic-Level-D2);
}

.General_Button[Secondary]{
	background-color: unset;
    border: solid var(--Theme-Dynamic-Level-D3) 3px;
}

.General_Button[Secondary]:hover{
    border: solid #00000000 3px;
	background-color: var(--Theme-Dynamic-Level-D1);
}

/* Redo */
body{
	margin-bottom: 50px;
	overflow-x: hidden;
	overflow-y: auto;
	margin-top: 50px;
}

body[Margin_Type = "Branch"]{
	margin-top: 70px;
}

body[Margin_Type = "SubBranch"]{
	margin-top: 80px;
}

body[Margin_Type = "None"]{
	margin-top: 0px;
}
body > *{
	margin-left: var(--Element-Margin-Left);
	margin-right: var(--Element-Margin-Right);
}

body[NoMargins_Top]{
	margin-top: unset;
}

.body > *[NoMargins_Top]{
	margin-top: 0;
}

body > *[NoMargins]{
	margin-left: unset;
	margin-right: unset;
}

body > *[NoMargins_All]{
	margin: 0;
}

.Branch_Banner{
    /* background-color: var(--Theme-Dynamic-Level-D3); */
    width: 100%;
    height: 202px;
    margin-left: unset;
	margin-right: unset;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr auto 1fr 1fr 1fr;
	user-select: none;
	/* padding: 10px; */
	overflow-y: hidden;
	overflow-x: hidden;
	position: relative;
}

.Branch_Banner_Content{
	background-color: var(--Theme-Dynamic-Level-D3);
	width: auto;
	padding-left: 75px;
	padding-right: 75px;
	border: solid var(--Theme-Dynamic-Level-L2) 2px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.Branch_Banner_Content{
	/* background-color: #264653; */
	/* overflow: hidden; */
}

.Branch_Banner_Content_Decoration{
	display: flex;
	justify-content: center;
	align-items: center;
	height: -webkit-fill-available;
}

.Branch_Banner_Content_Diamond{
	width: 20px;
	height: 20px;
	background-color: var(--BGColor);
	position: absolute;
	border: solid var(--Theme-Dynamic-Level-L2) 2px;
	transform: rotate(45deg);
}

.Branch_Banner_Content_Diamond[Position = "Left"]{
	left: -13px;
	top: calc(50% - 15px);
	/* bottom: 50%; */
}

.Branch_Banner_Content_Diamond[Position = "Right"]{
	right: -13px;
	top: calc(50% - 15px);
}

.Branch_Banner_Decoration{
	background-color: var(--Theme-Dynamic-Level-D5);
	animation-duration: 240s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/* height: calc(100% + 250px); */
	/* margin-left: 20px;
	margin-right: 20px; */
}

.Branch_Banner_Decoration[Distance = "1"]{
	/* transform: translateY(-150px); */
	background-color: var(--Theme-Dynamic-Level-D3);
	/* background: linear-gradient(90deg, var(--Theme-Dynamic-Level-D3) 0%, rgba(9,9,121,0) 50%, var(--Theme-Dynamic-Level-D3) 100%); */
	animation-name: Branch_Banner_Decoration_Distance_1;
}

.Branch_Banner_Decoration[Distance = "2"]{
	/* transform: translateY(-50px); */
	background-color: var(--Theme-Dynamic-Level-D4);
	/* background: linear-gradient(90deg, var(--Theme-Dynamic-Level-L1) 0%, rgba(9,9,121,0) 50%, var(--Theme-Dynamic-Level-L1) 100%); */
	animation-name: Branch_Banner_Decoration_Distance_2;
}

.Branch_Banner_Decoration[Distance = "3"]{
	/* transform: translateY(50px); */
	background-color: var(--Theme-Dynamic-Level-D5);
	animation-name: Branch_Banner_Decoration_Distance_3;
}


@keyframes Branch_Banner_Decoration_Distance_1{
	0% {
		background-color: var(--Theme-Dynamic-Level-D3);
	}
	25% {
		background-color: var(--Theme-Dynamic-Level-D4);
	}
	50% {
		background-color: var(--Theme-Dynamic-Level-D5);
	}
	75% {
		background-color: var(--Theme-Dynamic-Level-D4);
	}
	100% {
		background-color: var(--Theme-Dynamic-Level-D3);
	}
}

@keyframes Branch_Banner_Decoration_Distance_2{
	0% {
		background-color: var(--Theme-Dynamic-Level-D4);
	}
	25% {
		background-color: var(--Theme-Dynamic-Level-D5);
	}
	50% {
		background-color: var(--Theme-Dynamic-Level-D4);
	}
	75% {
		background-color: var(--Theme-Dynamic-Level-D3);
	}
	100% {
		background-color: var(--Theme-Dynamic-Level-D4);
	}
}

@keyframes Branch_Banner_Decoration_Distance_3{
	0% {
		background-color: var(--Theme-Dynamic-Level-D5);
	}
	25% {
		background-color: var(--Theme-Dynamic-Level-D4);
	}
	50% {
		background-color: var(--Theme-Dynamic-Level-D3);
	}
	75% {
		background-color: var(--Theme-Dynamic-Level-D4);
	}
	100% {
		background-color: var(--Theme-Dynamic-Level-D5);
	}
}

.Branch_Banner_Decoration_Circle{
	position: absolute;
	border: dotted var(--Theme-Dynamic-Level-L3) 2px;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	opacity: 50%;
	transform: scale(2);
}

.Branch_Banner_Decoration_Circle[Position = "Left"]{
	left: 50px;
}

.Branch_Banner_Decoration_Circle[Position = "Right"]{
	right: 50px;
}

.Branch_Banner_Title{
    font-family: var(--Text-Font-Branch-Title);
    font-size: 80px;
    color: var(--Theme-Dynamic-Level-L2);
    letter-spacing: 2px;
	margin: 0;
	/* margin-left: 20px; */
	text-align: center;
	text-transform: uppercase;
	-webkit-text-stroke: solid var(--Theme-Dynamic-Level-D2) 2px;
}
.Branch_Banner_Description{
    font-family: var(--Text-Font-Branch-Description);
    color: var(--Theme-Dynamic-Level-L2);
	text-align: center;
    /* letter-spacing: 5px; */
	margin: 0px;
	margin-bottom: 25px;
	/* margin-left: 17px; */

	/* transform: translateY(300%);
	animation-name: Branch_Banner_Text_RiseUp;
	animation-duration: 0.75s; */
	/* animation-delay: 2.3s; */
	/* animation-timing-function: ease-out; */
	/* animation-fill-mode: forwards; */
}

.Branch_Banner_Divider{
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: var(--Theme-Dynamic-Base);
	display: flex;
	justify-content: center;
}

.Branch_Banner_Divider[Position = "Top"]{
	top: 70px;
	top: 0px;
}

.Branch_Banner_Divider[Position = "Bottom"]{
	/* top: 270px; */
	bottom: 0px;
}


.Branch_Banner_Divider_Diamond{
	width: 20px;
	height: 20px;
	background-color: var(--BGColor);
	position: absolute;
	border: solid var(--Theme-Dynamic-Base) 2px;
	transform: rotate(45deg);
}

.Branch_Banner_Divider[Position = "Top"] > .Branch_Banner_Divider_Diamond{
	top: -12px;
}

.Branch_Banner_Divider[Position = "Bottom"] > .Branch_Banner_Divider_Diamond{
	top: -9px;
}

.Subpage_Banner{
	width: 100%;
	height: 150px;
	/* background-color: var(--Theme-Dynamic-Level-D4); */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	user-select: none;
	overflow-x: hidden;
	overflow-y: hidden;
	/* padding: 25px; */
	/* background-color: blue; */
	
	position: relative;
}

.Subpage_Banner_Content{
	/* background-color: red; */
	/* width: auto; */
	/* max-width: 1000px; */
	width: 100%;
	height: -webkit-fill-available;
	margin-left: var(--Element-Margin-Left);
	margin-right: var(--Element-Margin-Right);
	/* display: grid;
	grid-template-columns: 1fr; */
	/* background-color: red; */
	/* position: absolute; */
	border-top: solid var(--Theme-Dynamic-Level-L3) 2px;
	border-bottom: solid var(--Theme-Dynamic-Level-L3) 2px;
}

.Subpage_Banner_Decoration{
	height: -webkit-fill-available;
	width: 150px;
	/* background-color: blue; */
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Subpage_Banner_Decoration[Position = "Left"]{
	left: 150px;
}

.Subpage_Banner_Decoration[Position = "Right"]{
	right: 150px;
}

.Subpage_Banner_Decoration_Diamond{
	outline: unset;
}

.Subpage_Banner_Decoration_Diamond[Position = "Top"], .Subpage_Banner_Decoration_Diamond[Position = "Bottom"]{
	width: 150px;
	height: 150px;
	border: solid var(--Theme-Dynamic-Level-L3) 2px;
	transform: rotate(45deg);
	position: absolute;
	background-color: var(--BGColor);
}

.Subpage_Banner_Decoration_Diamond[Position = "Top"]{
	top: -77px;
}

.Subpage_Banner_Decoration_Diamond[Position = "Bottom"]{
	bottom: -77px;
}

.Subpage_Banner_Decoration_Diamond[Position = "Middle"]{
	width: 45px;
	height: 45px;
	border: solid var(--Theme-Dynamic-Level-L3) 2px;
	outline: none;
	transform: rotate(45deg);
	position: absolute;
	background-color: var(--BGColor);
	display: flex;
	justify-content: center;
	align-items: center;
}

.Subpage_Banner_Decoration_Diamond > .Arrow{
	transform: rotate(225deg) !important;
}

.Subpage_Banner_Branch_Decoration_Inner{
	height: -webkit-fill-available;
	width: 50px;
	/* background-color: blue; */
	/* position: absolute; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Subpage_Banner_Branch_Decoration_Inner_Diamond{
	background-color: var(--BGColor);
	border: solid var(--Theme-Dynamic-Level-L3) 2px;
	transform: rotate(45deg);
	position: absolute;
	height: 25px;
	width: 25px;
}

.Subpage_Banner_Branch_Decoration_Inner_Diamond[Position = "Top"]{
	top: 25px;
}

.Subpage_Banner_Branch_Icon{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.Subpage_Banner_Branch_Icon_Decoration{
	width: 60px;
	height: 60px;
	border: solid var(--Theme-Dynamic-Level-L3) 2px;
	transform: rotate(45deg);
	position: absolute;
	/* left: 15px; */
	opacity: 5%;
}

.Subpage_Banner_Branch_Icon_Decoration[Position = "Top"]{
	top: -25px;
}

.Subpage_Banner_Branch_Icon_Decoration[Position = "Bottom"]{
	bottom: -25px;
}

.Subpage_Banner_Branch_Icon_Content{
	border: solid var(--Theme-Dynamic-Level-L3) 2px;
	width: 100px;
	height: 100px;
	transform: rotate(45deg);
}

.Subpage_Banner_Branch_Content{
	/* padding: 10px; */
	/* background-color: red; */
	/* width: calc(auto + 50px); */
	width: 100%;
	height: 100%;
	/* margin-left: 10px; */
	display: flex;
	justify-content: center;
}

.Subpage_Banner_Branch_Back{
	background-color: unset;
	outline: unset;
	border: solid var(--Theme-Dynamic-Level-L3) 2px;
	transform: rotate(45deg) scale(0.9);
	width: 35px;
	height: 35px;
	margin-right: 7px;
}

.Subpage_Banner_Branch_Back:focus{
	border: dashed var(--Theme-Dynamic-Level-L3) 2px;
}

.Subpage_Banner_Branch_Back > .Arrow{
	transform: rotate(225deg) !important;
}

.Subpage_Banner_Branch_Decoration{
	display: flex;
	align-items: center;
	width: auto;
	display: grid;
	grid-gap: 7px;
}

.Subpage_Banner_Branch_Decoration[Position = "Top"]{
	/* flex-direction: row; */
	grid-template-columns: auto auto auto 1fr auto;
}

.Subpage_Banner_Branch_Decoration[Position = "Bottom"]{
	/* flex-direction: row-reverse; */
	grid-template-columns: auto 1fr auto auto auto;
	padding-top: 10px;
	padding-top: 10px;
}

.Subpage_Banner_Branch_Decoration_Diamond{
	border: solid var(--Theme-Dynamic-Level-L3) 2px;
	transform: rotate(45deg) scale(0.9);
	width: 35px;
	height: 35px;
	/* margin-right: 7px; */
}

.Subpage_Banner_Branch_Decoration_Component[Length = "Dot"]{
	background-color: var(--Theme-Dynamic-Level-L3);
	width: 2px;
	height: 2px;
	/* margin-left: 5px; */
}

.Subpage_Banner_Branch_Decoration_Component[Length = "Long"]{
	background-color: var(--Theme-Dynamic-Level-L3);
	width: -webkit-fill-available;
	height: 2px;
	/* margin-left: 5px; */
}

.Subpage_Banner_Branch_Decoration_Component[Length = "Short"]{
	background-color: var(--Theme-Dynamic-Level-L3);
	width: 20px;
	height: 2px;
	/* margin-left: 5px; */
}

.Subpage_Banner_Branch_Text{
	/* padding-left: 46px; */
	padding-left: 50px;
	padding-right: 50px;
	height: -webkit-fill-available;
	display: flex;
	align-items: center;
	max-width: 1500px;
}

.Subpage_Banner_Branch_Text_Title, .Subpage_Banner_Title{
	font-family: var(--Text-Font-Branch-Title);
    font-size: 50px;
    color: var(--Theme-Dynamic-Base);
    letter-spacing: 2px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;

	/* transform: translateY(300%); */
	/* animation-name: Branch_Banner_Text_RiseUp;
	animation-duration: 0.75s;
	animation-delay: 3.3s; */
	/* animation-timing-function: ease-out; */
	animation-fill-mode: forwards;
}

.Subpage_Banner_Branch{
	font-family: var(--Text-Font-Branch-Description);
    font-size: 20px;
    color: var(--Theme-Dynamic-Base);
	margin: 0;
	text-align: center;
	text-transform: capitalize;
	cursor: pointer;
	transform: translateY(400%);
	animation-name: Branch_Banner_Text_RiseUp;
	animation-duration: 0.75s;
	animation-delay: 3.2s;
	/* animation-timing-function: ease-out; */
	animation-fill-mode: forwards;
}

@media only screen and (max-width: 1120px) {
	

	.Subpage_Banner_Decoration[Position = "Left"]{
		left: 35px;
	}
	.Subpage_Banner_Decoration[Position = "Right"]{
		right: 35px;
	}
	.Subpage_Banner_Decoration_Diamond[Position = "Top"], .Subpage_Banner_Decoration_Diamond[Position = "Bottom"]{
		width: 25px;
		height: 25px;
	}
	.Subpage_Banner_Decoration_Diamond[Position = "Top"]{
		top: -14px;
	}
	
	.Subpage_Banner_Decoration_Diamond[Position = "Bottom"]{
		bottom: -14px;
	}
}

@media only screen and (max-width: 610px) {
	.Branch_Banner_Title{
		font-size: 50px;
	}
	.Subpage_Banner{
		overflow-y: hidden;
	}
	.Subpage_Banner_Decoration{
		overflow-y: unset;
	}
	.Subpage_Banner_Decoration[Position = "Left"]{
		left: 27px;
		width: auto;
	}
	.Subpage_Banner_Decoration[Position = "Right"]{
		right: 27px;
		width: auto;
	}
	.Subpage_Banner_Decoration_Diamond[Position = "Top"], .Subpage_Banner_Decoration_Diamond[Position = "Bottom"]{
		width: 25px;
		height: 25px;
	}
	.Subpage_Banner_Decoration_Diamond[Position = "Top"]{
		top: -14px;
	}
	
	.Subpage_Banner_Decoration_Diamond[Position = "Bottom"]{
		bottom: -14px;
	}

	.Subpage_Banner_Decoration_Diamond[Position = "Middle"]{
		width: 30px;
		height: 30px;
	}
}



.General_Title{
	font-family: var(--Text-Font-Primary);
	color: var(--Text-Color);
	/* margin-left: var(--Element-Margin-Left);
	margin-right: var(--Element-Margin-Right); */
}

.General_Paragraph{
	font-family: var(--Text-Font-Secondary);
	color: var(--Text-Color);
	/* margin-left: var(--Element-Margin-Left);
	margin-right: var(--Element-Margin-Right); */
}

.General_List{
	font-family: var(--Text-Font-Secondary);
	color: var(--Text-Color);
	/* margin-left: var(--Element-Margin-Left);
	margin-right: var(--Element-Margin-Right); */
}

.LoadingScreen{
	position: fixed;
	width: calc(100% + 250px);
	height: calc(100% + 250px);
	background-color: var(--BGColor);
	top: 0;
	z-index: 500;

	overflow-x: hidden;
	overflow-y: hidden;
	opacity: 100%;
	pointer-events: all;

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	/* position: relative; */
}

.LoadingScreen[State = "Enabled"]{
	opacity: 100%;
	pointer-events: all;
}

.LoadingScreen[State = "Disabled"]{
	opacity: 0%;
	pointer-events: none;
}

.LoadingScreen[State = "Disabled"] > *{
	opacity: 0%;
}

.LoadingScreen[Animation = "BSD_In"]{
	animation-name: LoadingScreen_Animation_BSD_In;
	animation-duration: 0.1s;
	animation-fill-mode: forwards;
	animation-iteration-count: 3;
}

.LoadingScreen[Animation = "BSD_In"] > *{
	border-color: var(--Theme-Dynamic-Level-L2);
}

.LoadingScreen[Animation = "BSD_Out"]{
	animation-name: LoadingScreen_Animation_BSD_Out;
	animation-duration: 0.1s;
	animation-fill-mode: forwards;
}

.LoadingScreen[Animation = "BSD_In"] > .LoadingScreen_Grid_Item{
	transition-duration: 2s;
}

.LoadingScreen[Animation = "BSD_Out"] > .LoadingScreen_Grid_Item{
	transition-duration: 1s;
}


.LoadingScreen_Grid_Item{
	margin: 5px;
	/* display: block; */
	aspect-ratio: 1/1;
	border: 3px dashed white;
	box-sizing: border-box;
	padding: 10px;
	
	transition-timing-function: cubic-bezier(0,1.01,.51,1.01);
	/* position: absolute; */
}

.LoadingScreen_Grid_Item_Inner{
	aspect-ratio: 1/1;
	border: 2px solid white;
	box-sizing: border-box;
	
}

.LoadingScreen_Grid_Item_Inner[Animation = "BSD_In"]{
	animation-name: LoadingScreen_Animation_BSD_Inner_In;
	animation-duration: 0.5s;
	/* animation-delay: 0.5s; */
	animation-fill-mode: forwards;
}

.LoadingScreen_Grid_Item_Inner[Animation = "BSD_Out"]{
	animation-name: LoadingScreen_Animation_BSD_Inner_Out;
	animation-duration: 0.5s;
	/* animation-delay: 0.5s; */
	animation-fill-mode: forwards;
}

.LoadingScreen_Logo{
	width: 125px;
	animation-name: LoadingScreen_Logo_Open;
	animation-duration: 2s;
	/* animation-delay: 0.75s; */
	/* animation-timing-function: ease-in; */
	animation-fill-mode: forwards;
}

.LoadingScreen_Curtain{
	background-color: var(--BGColor);
	width: 200px;
	height: 200px;
	position: absolute;
	transform: rotate(-15deg);
	animation-name: LoadingScreen_Curtain_Open;
	animation-duration: 1s;
	animation-delay: 0.75s;
	/* animation-timing-function: ease-in-out; */
	animation-fill-mode: forwards;
}

.LoadingScreen_Loader_Container{
	position: fixed;
	width: 100%;
	height: -webkit-fill-available;
	z-index: 501;
}

.LoadingScreen_Loader{
	position: fixed;
	/* margin: 20px; */
	width: 100%;
	height: 75px;
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}

.LoadingScreen_Loader_Container[State = "Active"] > .LoadingScreen_Loader{
	height: 75px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.LoadingScreen_Loader_Container[State = "Inactive"] > .LoadingScreen_Loader{
	height: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.LoadingScreen_Loader[Top]{
	top: 0;
}

.LoadingScreen_Loader[Bottom]{
	bottom: 0;
}

.LoadingScreen_Loader_Text{
	font-family: var(--Text-Font-Primary);
	color: var(--Text-Color);
	margin: 0;
	margin-top: 10px;
}

.LoadingScreen_Loader_Bar{
	overflow: hidden;
    width: 35%;
    height: 5px;
	margin-top: 15px;
}

.LoadingScreen_Loader_Bar_Accent{
	width: 20%;
    height: 100%;
    background-color: var(--Theme-Dynamic-Level-D3);
    animation-name: General_Loading_Bar;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@media only screen and (max-width: 750px){
	.LoadingScreen_Grid_Item{
		width: 150px !important;
		height: 150px !important;
	}
}

@keyframes General_Loading_Bar{
    0% {
        width: 0%; 
        transform: translateX(0%);
    }
	50% {
        width: 100%; 
        transform: translateX(0%);
    }
	100% {
        width: 100%; 
        transform: translateX(100%);
    }
}

@keyframes LoadingScreen_Animation_BSD_In{
	0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes LoadingScreen_Animation_BSD_Inner_In{
	0%{
		transform: scale(1);
		opacity: 100%;
	}
	100%{
		transform: scale(0.85);
		opacity: 0%;
	}
}

@keyframes LoadingScreen_Animation_BSD_Out{
	0% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes LoadingScreen_Animation_BSD_Inner_Out{
	0%{
		transform: scale(0.85);
		opacity: 0%;
	}
	100%{
		transform: scale(1);
		opacity: 100%;
	}
}

.Arrow{
	position: relative;
	/* margin: 10px; */
	min-width: 20px;
	min-height: 20px;
	/* width: 50px;
	height: 50px;
	border: solid var(--Theme-Dynamic-Level-L2) 2px; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.Arrow[Left]{
	transform: rotate(-90deg);
}

.Arrow[Right]{
	transform: rotate(90deg);
}

.Arrow[Top]{
	transform: rotate(0deg);
}

.Arrow[Bottom]{
	transform: rotate(-180deg);
}
.Arrow_Container{
	width: -webkit-fill-available;
	height: -webkit-fill-available;
	/* background-color: red; */
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(-2px);
}

.Arrow_Container > *{
	position: absolute;
	width: 2px;
	background-color: var(--Theme-Dynamic-Level-L2);
}

.Arrow_Base{
	height: 20px;
}

.Arrow_Base_Dot{
	height: 2px;
	transform: translateY(15px);
}

.Arrow_Left{
	height: 10px;
	transform: rotate(45deg) translateX(-7.5px) translateY(-3px);
}

.Arrow_Right{
	height: 10px;
	transform: rotate(-45deg) translateX(7.5px) translateY(-3px);
}

.Arrow:hover > .Arrow_Container > .Arrow_Base, div:hover > .Arrow > .Arrow_Container > .Arrow_Base, button:hover > .Arrow > .Arrow_Container > .Arrow_Base, button:focus > .Arrow > .Arrow_Container > .Arrow_Base{
	height: 17px;
	transform: translateY(3px);
}

.Arrow:hover > .Arrow_Container > .Arrow_Left, div:hover > .Arrow > .Arrow_Container > .Arrow_Left, button:hover > .Arrow > .Arrow_Container > .Arrow_Left, button:focus > .Arrow > .Arrow_Container > .Arrow_Left{
	height: 13px;
	transform: rotate(45deg) translateX(-3.5px) translateY(2px);
}

.Arrow:hover > .Arrow_Container > .Arrow_Right, div:hover > .Arrow > .Arrow_Container > .Arrow_Right, button:hover > .Arrow > .Arrow_Container > .Arrow_Right, button:focus > .Arrow > .Arrow_Container > .Arrow_Right{
	height: 13px;
	transform: rotate(-45deg) translateX(3.5px) translateY(2px);
}

.Arrow:active > .Arrow_Container > .Arrow_Base, div:active > .Arrow > .Arrow_Container > .Arrow_Base, button:active > .Arrow > .Arrow_Container > .Arrow_Base{
	height: 2px;
	transform: translateY(-3px);
}

.Arrow:active > .Arrow_Container > .Arrow_Left, div:active > .Arrow > .Arrow_Container > .Arrow_Left, button:active > .Arrow > .Arrow_Container > .Arrow_Left{
	height: 13px;
	transform: rotate(45deg) translateX(-8.5px) translateY(-2.5px);
}

.Arrow:active > .Arrow_Container > .Arrow_Right, div:active > .Arrow > .Arrow_Container > .Arrow_Right, button:active > .Arrow > .Arrow_Container > .Arrow_Right{
	height: 13px;
	transform: rotate(-45deg) translateX(8.5px) translateY(-2.5px);
}

.Arrow:active > .Arrow_Container > .Arrow_Base_Dot, div:active > .Arrow > .Arrow_Container > .Arrow_Base_Dot, button:active > .Arrow > .Arrow_Container > .Arrow_Base_Dot{
	transform: translateY(3px);
}

.Arrow:active > .Arrow_Container, div:active > .Arrow > .Arrow_Container, button:active > .Arrow > .Arrow_Container{
	transform: translateY(-5px);
}