.Playlist_Section{
    margin-top: 25px;
}

.Playlist_Section > .General_Title{
    margin: 0;
}

.Playlist_Curation{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Playlist_Curation_Item{
    background-color: unset;
    outline: unset;
    border: unset;
    /* width: 150px; */
    user-select: none;
    cursor: pointer;
    padding: 10px;
    border: solid transparent 3px;
    margin: 3px;
}

.Playlist_Curation_Item:hover{
    border: solid var(--Theme-Dynamic-Base) 3px;
}

.Playlist_Curation_Item:focus{
    border: solid var(--Theme-Dynamic-Base) 3px;
}

.Playlist_Curation_Item_Thumbnail{
    height: 250px;
}

.Playlist_Curation_Item_Title{
    font-family: var(--Text-Font-Secondary);
    color: var(--Text-Color);
    font-size: 1rem;
    text-align: left;
    margin: 0;
    margin-top: 10px;

}