body{
    background-color: black;
}

.Home_Cover{
    /* background-color: red; */
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-image: url(../Assets/Images/Home/Cover.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.Home_Cover_Logo{
    position: absolute;
    width: 600px;
    margin-top: 50px;
    transform: translateY(-500px);
    animation-name: Home_Cover_Logo_Entrance;
    animation-duration: 0.75s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes Home_Cover_Logo_Entrance{
    0%{
        transform: translateY(-500px);
    }
    100%{
        transform: translateY(0px);
    }
}

.Home_Section{
    background-color: white;
    height: 320px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}

.Home_Section[Theme="Violet"]{
    background-color: var(--Theme-Violet-Level-D3);
}

.Home_Section[Theme="Green"]{
    background-color: var(--Theme-Green-Level-D3);
}

.Home_Section[Theme="Orange"]{
    background-color: var(--Theme-Orange-Level-D3);
}

.Home_Section_Background{
    /* background-color: blue; */
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    transform: translate(-40%, 0px);
    user-select: none;
}

.Home_Section_Background_Title{
    font-family: VX Rocket;
    font-size: 120px;
    margin: 0;
    letter-spacing: 3px;
    opacity: 25%;
    position: relative;
    animation-name: Home_Section_Background_Title_Move;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-right: 10px;
}

@keyframes Home_Section_Background_Title_Move{
    0%{
        transform: translateX(0%);
    }
    100% {
        transform: translateX(calc(100% + 10px));
    }
}
.Home_Section[Theme="Violet"] > .Home_Section_Background > .Home_Section_Background_Title{
    -webkit-text-stroke: 1px var(--Theme-Violet-Level-L1);
    color: var(--Theme-Violet-Level-D3);
}

.Home_Section[Theme="Green"] > .Home_Section_Background > .Home_Section_Background_Title{
    -webkit-text-stroke: 1px var(--Theme-Green-Level-L1);
    color: var(--Theme-Green-Level-D3);
}

.Home_Section[Theme="Orange"] > .Home_Section_Background > .Home_Section_Background_Title{
    -webkit-text-stroke: 1px var(--Theme-Orange-Level-L1);
    color: var(--Theme-Orange-Level-D3);
}

.Home_Section_Content{
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    position: absolute;
    z-index: 15;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

.Home_Section_Content_Title{
    font-family: Hauser;
    font-size: 90px;
    margin: 0;
    /* width: 50%; */
}

.Home_Section_Content_Paragraph{
    font-family: Franklin;
    width: 50%;
    min-width: 200px;
    max-width: 350px;
    margin-top: 0;
}

.Home_Section > .Home_Section_Content > a{
    max-width: 175px;
}

.Home_Section[Theme="Violet"] > .Home_Section_Content > *{
    color: var(--Theme-Violet-Level-L1);
    width: 50%;
}

.Home_Section[Theme="Green"] > .Home_Section_Content > *{
    color: var(--Theme-Green-Level-L1);
    width: 50%;
}

.Home_Section[Theme="Orange"] > .Home_Section_Content > *{
    color: var(--Theme-Orange-Level-L1);
    width: 50%;
}

@media only screen and (max-width: 750px){
    .Home_Cover_Logo{
        width: 70vw
    }

    .Home_Section_Content_Title{
        font-size: 15vw;
    }
}
