.GRBRKR_Landing {
    width: 100%;
    height: 450px;
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}

.GRBRKR_Title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 550px;
    height: 350px;
    /* background-color: aliceblue; */
}

.GRBRKR_Title_Layer {
    position: absolute;
    width: 100%;
    opacity: 0%;
}

.GRBRKR_Title_Layer[Type="Filled"] {
    opacity: 0%;
}

.GRBRKR_Title_Layer[Type="Filled"]:nth-child(1) {
    animation-delay: 0.2s;
    animation-iteration-count: 2;
}

.GRBRKR_Title_Layer[Type="Filled"]:nth-child(2) {
    animation-delay: 0.3s;
    animation-iteration-count: 2;
}

.GRBRKR_Title_Layer[Type="Filled"]:nth-child(3) {
    animation-delay: 0.1s;
    animation-iteration-count: 1;
}

.GRBRKR_Title_Layer[State="Entrance_Outline"] {
    animation-name: GRBRKR_Title_Layer_Entrance_Outline;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.GRBRKR_Title_Layer[State="Entrance_Filled"] {
    animation-name: GRBRKR_Title_Layer_Entrance_Filled;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 0.2s;
}

@keyframes GRBRKR_Title_Layer_Entrance_Outline {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes GRBRKR_Title_Layer_Entrance_Filled {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .GRBRKR_Title {
        width: 350px;
    }
}


.GRBRKR_Search {
    /* margin-left: var(--Element-Margin-Left);
    margin-right: var(--Element-Margin-Right); */
    background-color: var(--Theme-Dynamic-Level-D2);
    display: grid;
    grid-template-columns: 1fr auto;
    height: 60px;
    margin-top: 20px;
}

.GRBRKR_Search_Input {
    background-color: transparent;
    border: unset;
    padding: 10px;
    height: 60px;
    font-family: var(--Text-Font-Secondary);
    color: var(--Text-Color);
    font-size: 17px;
}

.GRBRKR_Search_Input:hover,
.GRBRKR_Search_Input:focus {
    background-color: var(--Theme-Dynamic-Level-D1);
    cursor: pointer;
    box-shadow: inset 5px 5px 0px 0px var(--Theme-Dynamic-Level-D3), inset 4px 4px 0px 0px var(--Theme-Dynamic-Level-D3), inset 3px 3px 0px 0px var(--Theme-Dynamic-Level-D3), inset 2px 2px 0px 0px var(--Theme-Dynamic-Level-D3), inset 1px 1px 0px 0px var(--Theme-Dynamic-Level-D3);
}

.GRBRKR_Search_Button {
    background-color: var(--Theme-Dynamic-Level-D2);
    border: unset;
    cursor: pointer;
}

.GRBRKR_Search_Button:hover,
.GRBRKR_Search_Button:focus {
    background-color: var(--Theme-Dynamic-Level-D1);
    cursor: pointer;
    box-shadow: inset 5px 5px 0px 0px var(--Theme-Dynamic-Level-D3), inset 4px 4px 0px 0px var(--Theme-Dynamic-Level-D3), inset 3px 3px 0px 0px var(--Theme-Dynamic-Level-D3), inset 2px 2px 0px 0px var(--Theme-Dynamic-Level-D3), inset 1px 1px 0px 0px var(--Theme-Dynamic-Level-D3);
}

.GRBRKR_Search_Button_Icon {
    width: 30px;
    padding: 10px;
}

.GRBRKR_Chapters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    /* grid-template-columns: 1fr; */
    grid-gap: 10px;
    margin-top: 20px;
}

.GRBRKR_Chapters_Item{
    background-color: var(--BGColor);
    border: solid var(--Theme-Dynamic-Level-L2) 2px;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 30px;
    text-align: left;
    padding: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    padding-bottom: 40px;
}

.GRBRKR_Chapters_Item:active, .GRBRKR_Chapters_Item:focus{
    border-style: dotted;
}

.GRBRKR_Chapters_Item_Decoration{
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: var(--Theme-Dynamic-Level-L2);
    top: 0;
    left: 0;
}

.GRBRKR_Chapters_Item:active > .GRBRKR_Chapters_Item_Decoration,
.GRBRKR_Chapters_Item:focus > .GRBRKR_Chapters_Item_Decoration{
    width: 100%;
}

.GRBRKR_Chapters_Item_Chapter{
    font-family: var(--Text-Font-Secondary);
    color: var(--Text-Color);
    margin: 0;
    z-index: 2;
    position: relative;
}

.GRBRKR_Chapters_Item_Title{
    font-family: var(--Text-Font-Primary);
    color: var(--Text-Color);
    margin: 0;
    font-size: 30px;
    z-index: 2;
    position: relative;
}

.GRBRKR_Chapters_Item_Arc{
    font-family: var(--Text-Font-Secondary);
    color: var(--Theme-Dynamic-Level-L3);
    margin: 0;
    z-index: 1;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}

.GRBRKR_Chapters_Item:active *,
.GRBRKR_Chapters_Item:focus *{
    color: var(--Theme-Dynamic-Level-D3);
}

/* .GRBRKR_Chapters_Item:hover,
.GRBRKR_Chapters_Item:focus {
    background-color: var(--Theme-Dynamic-Level-D1);
    box-shadow: 5px 5px 0px 0px var(--Theme-Dynamic-Level-D3), 4px 4px 0px 0px var(--Theme-Dynamic-Level-D3), 3px 3px 0px 0px var(--Theme-Dynamic-Level-D3), 2px 2px 0px 0px var(--Theme-Dynamic-Level-D3), 1px 1px 0px 0px var(--Theme-Dynamic-Level-D3);
    transform: translateX(-5px) translateY(-5px);
}

.GRBRKR_Chapters_Item,
.GRBRKR_Chapters_Item:active {
    background-color: var(--Theme-Dynamic-Level-D2);
    border: unset;
    cursor: pointer;
    padding: 10px;
    text-align: left;
    box-shadow: unset;
    transform: unset;
    user-select: none;
}

.GRBRKR_Chapters_Item_Title {
    font-family: var(--Text-Font-Primary);
    color: var(--Text-Color);
    margin: 0;
    font-size: 25px;
}

.GRBRKR_Chapters_Item_Subtitle {
    font-family: var(--Text-Font-Secondary);
    color: var(--Text-Color);
    margin: 0;
} */

.GRBRKR_Story_Container {
    margin-left: calc(var(--Element-Margin-Left) + 5%);
    margin-right: calc(var(--Element-Margin-Right) + 5%);
    margin-top: 50px;
}

.GRBRKR_Story_Header {
    padding-top: 125px;
    border-bottom: solid var(--Theme-Dynamic-Level-L2) 2px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    background-color: black;
    height: auto;
    min-height: 130px;
    padding-left: calc(var(--Element-Margin-Left) + 5%);
    padding-right: calc(var(--Element-Margin-Right) + 5%);
    position: relative;
}

.GRBRKR_Story_Header_Controls{
    position: absolute;
    /* background-color: red; */
    bottom: -2;
    display: flex;
    justify-content: right;
    width: -webkit-fill-available;
    padding-left: calc(var(--Element-Margin-Left) + 5%);
    padding-right: calc(var(--Element-Margin-Right) + 5%);
}

.GRBRKR_Story_Header_Chapter,
.GRBRKR_Story_Header_Title {
    font-family: var(--Text-Font-Primary);
    color: var(--Text-Color);
    text-align: left;
    margin: 0;

}

.GRBRKR_Story_Header_Title {
    font-size: 70px;
    font-family: var(--Text-Font-Title-Primary-Slim);
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 53px;
}

.GRBRKR_Story_Header_Details {
    width: auto;
    display: flex;
    flex-direction: row;
    grid-gap: 10px;
    margin-top: 10px;
}

.GRBRKR_Story_Header_Details_Author,
.GRBRKR_Story_Header_Details_PublishingDate {
    font-family: var(--Text-Font-Secondary);
    color: var(--Text-Color);
    margin: 0;
    text-align: center;
}

.GRBRKR_Story_Header_Details_Author {
    border-right: solid var(--Theme-Dynamic-Level-D1) 2px;
    padding-right: 10px;
}

.GRBRKR_Story_Footer {
    margin-top: 20px;
    border-top: solid var(--Theme-Dynamic-Level-D1) 2px;
    padding: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
}

.GRBRKR_Story_Footer_Button {
    border: solid var(--Theme-Dynamic-Level-L2) 2px;
    background-color: unset;
    min-width: 200px;
    padding: 20px;
    position: relative;
    cursor: pointer;
}

.GRBRKR_Story_Footer_Button[State="Inactive"] {
    visibility: hidden;
    opacity: 0;
}

.GRBRKR_Story_Footer_Button:focus {
    border-style: dotted;
}

.GRBRKR_Story_Footer_Button:focus>.GRBRKR_Story_Footer_Button_Arrow>.Arrow {
    border-style: dotted;
}

.GRBRKR_Story_Footer_Button_Chapter {
    font-family: var(--Text-Font-Secondary);
    color: var(--Text-Color);
    margin: 0;
}

.GRBRKR_Story_Footer_Button_Title {
    font-family: var(--Text-Font-Primary);
    color: var(--Text-Color);
    margin: 0;
}

.GRBRKR_Story_Footer_Button[Previous]>.GRBRKR_Story_Footer_Button_Chapter,
.GRBRKR_Story_Footer_Button[Previous]>.GRBRKR_Story_Footer_Button_Title {
    text-align: right;
}

.GRBRKR_Story_Footer_Button[Next]>.GRBRKR_Story_Footer_Button_Chapter,
.GRBRKR_Story_Footer_Button[Next]>.GRBRKR_Story_Footer_Button_Title {
    text-align: left;
}


.GRBRKR_Story_Footer_Button_Arrow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.GRBRKR_Story_Footer_Button_Arrow>.Arrow {
    border: solid var(--Theme-Dynamic-Level-L2) 2px;
    width: 25px;
    height: 25px;
    padding: 5px;
    outline: solid var(--BGColor) 5px;
    background-color: var(--BGColor);
}

.GRBRKR_Story_Footer_Button[Next]>.GRBRKR_Story_Footer_Button_Arrow {
    justify-content: right;
}

.GRBRKR_Story_Footer_Button_Arrow>.Arrow[Left] {
    transform: translateX(-40px) rotate(-45deg);
}

.GRBRKR_Story_Footer_Button_Arrow>.Arrow[Left]>.Arrow_Container {
    transform: rotate(-45deg);
}

.GRBRKR_Story_Footer_Button_Arrow:active>.Arrow[Left]>.Arrow_Container {
    transform: rotate(-45deg);
}

.GRBRKR_Story_Footer_Button_Arrow>.Arrow[Right] {
    transform: rotate(45deg);
}

.GRBRKR_Story_Footer_Button_Arrow>.Arrow[Right]>.Arrow_Container {
    transform: rotate(45deg);
}

.GRBRKR_Story_Footer_Button_Arrow:active>.Arrow[Right]>.Arrow_Container {
    transform: rotate(45deg);
}

.GRBRKR_Story_Footer_Current {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.GRBRKR_Story_Footer_Current_Chapter {
    font-family: var(--Text-Font-Secondary);
    color: var(--Text-Color);
    margin: 0;
}

.GRBRKR_Story_Footer_Current_Title {
    font-family: var(--Text-Font-Primary);
    color: var(--Text-Color);
    margin: 0;
}

@media only screen and (max-width: 700px) {
    .GRBRKR_Story_Container {
        margin-left: calc(var(--Element-Margin-Left) + 20px);
        margin-right: calc(var(--Element-Margin-Right) + 20px);
    }

    .GRBRKR_Story_Footer {
        grid-template-columns: 1fr;
        grid-template-areas:
            "Current"
            "Previous"
            "Next"
        ;
        grid-gap: 10px;
    }

    .GRBRKR_Story_Footer_Button[Previous] {
        grid-area: Previous;
    }

    .GRBRKR_Story_Footer_Button[Next] {
        grid-area: Next;
    }

    .GRBRKR_Story_Footer_Current {
        grid-area: Current;
    }
}

.GRBRKR_Latest {
    min-height: 200px;
    border-top: solid var(--Theme-Dynamic-Level-L2) 2px;
    border-bottom: solid var(--Theme-Dynamic-Level-L2) 2px;
    padding: 20px;
    padding-left: calc(var(--Element-Margin-Left) + 20px);
    padding-right: calc(var(--Element-Margin-Right) + 20px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.GRBRKR_Latest_Chapter {
    font-family: var(--Text-Font-Primary);
    color: var(--Text-Color);
    margin: 0;
}

.GRBRKR_Latest_Title {
    font-size: 60px;
    margin: 0;
    font-family: var(--Text-Font-Title-Primary-Slim);
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 47px;
    color: var(--Text-Color);
}

.GRBRKR_Banner_Controls {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: -2;
    left: var(--Element-Margin-Left);
    right: var(--Element-Margin-Right);
    gap: 10px;
}

.GRBRKR_Banner_Control {
    border: solid var(--Theme-Dynamic-Level-L2) 2px;
    border-bottom-style: unset;
    height: 45px;
    background-color: var(--BGColor);
    cursor: pointer;
}

.GRBRKR_Banner_Control:active, .GRBRKR_Banner_Control:focus{
    border-style: dotted;
}

.GRBRKR_Banner_Control_Content {
    display: grid;
    grid-template-columns: 1fr;
    padding: 7px;
    padding-right: 40px;
    position: relative;
}

.GRBRKR_Banner_Control_Content_Title {
    font-family: var(--Text-Font-Title-Secondary);
    color: var(--Theme-Dynamic-Level-L3);
    font-size: 16px;
    margin: 0;
    margin-right: 20px;
}

.GRBRKR_Banner_Control_Content_Arrow {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    /* background-color: red; */
    top: 0;
    right: 0;
    padding-right: 12px;
}

@media screen and (max-width: 800px) {
    .GRBRKR_Latest {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 600px) {
    .GRBRKR_Latest{
        padding-bottom: 100px;
    }
    .GRBRKR_Banner_Controls{
        flex-direction: column;
        width: -webkit-fill-available;
    }
    .GRBRKR_Banner_Control:not(:last-child){
        border-bottom-style: solid;
    }
    .GRBRKR_Banner_Control_Content_Title{
        text-align: left;
    }
}

.GRBRKR_Chapters_Item{

}