/*
	DL_Stylesheet_Reference.css
	This file contains all the default css variable configurations for Doodle Launcher
*/

@font-face {
	font-family: "Hansief";
	src: url('../Assets/Fonts/Hansief.otf') format("opentype");
	/* src: url('https://drive.google.com/uc?id=1Ot9Xg1rVe2TlIOizCh2nk8oXFeA2eZ6q') format("opentype"); */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Raleway";
	src: url("../Assets/Fonts/Raleway-ExtraBold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "Roboto";
	src: url("../Assets/Fonts/Roboto-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "VX Rocket";
	src: url("../Assets/Fonts/VxRocketRegular-9O87.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "Hauser";
	src: url("../Assets/Fonts/Hauser.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "Hauser Condensed";
	src: url("../Assets/Fonts/Hauser\ Condensed.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "Franklin";
	src: url("../Assets/Fonts/framd.ttf") format("truetype");
}

:root{
	--ColorProfile-BGImage: url(../Assets/Backgrounds/Background_Noise_Landscape_LQ_1.png);
	--ColorProfile-Text-Color: #9600ff;
	--ColorProfile-BGColor-Level1: #460475;
	--ColorProfile-BGColor-Level2: #38035e;
	--ColorProfile-BGColor-Level3: #23023a;
	--ColorProfile-BGColor-Level4: #170127;
	--ColorProfile-BGColor-Level5: #0d0016;

	--Theme-Violet-Level-L5: #dca3fd;
	--Theme-Violet-Level-L4: #cf88f8;
	--Theme-Violet-Level-L3: #c86cff;
	--Theme-Violet-Level-L2: #b435ff;
	--Theme-Violet-Level-L1: #a20fff;
	--Theme-Violet-Base: #9600ff;
	--Theme-Violet-Level-D1: #7806c3;
	--Theme-Violet-Level-D2: #63079c;
	--Theme-Violet-Level-D3: #430076;
	--Theme-Violet-Level-D4: #370061;
	--Theme-Violet-Level-D5: #2d0050;
	
	--Theme-Green-Level-L5: #e2ffee;
	--Theme-Green-Level-L4: #c7fadc;
	--Theme-Green-Level-L3: #aeffd0;
	--Theme-Green-Level-L2: #70ffae;
	--Theme-Green-Level-L1: #2bfd84;
	--Theme-Green-Base: #00ff6c;
	--Theme-Green-Level-D1: #00c04d;
	--Theme-Green-Level-D2: #00963f;
	--Theme-Green-Level-D3: #067536;
	--Theme-Green-Level-D4: #014e23;
	--Theme-Green-Level-D5: #02642d;

	--Theme-Orange-Level-L5: #ffe49e;
	--Theme-Orange-Level-L4: #ffdf8d;
	--Theme-Orange-Level-L3: #ffd66d;
	--Theme-Orange-Level-L2: #ffb832;
	--Theme-Orange-Level-L1: #ffa00a;
	--Theme-Orange-Base: #ff8800;
	--Theme-Orange-Level-D1: #cc6402;
	--Theme-Orange-Level-D2: #a14d0b;
	--Theme-Orange-Level-D3: #82410c;
	--Theme-Orange-Level-D4: #442205;
	--Theme-Orange-Level-D5: #613007;

	--Theme-Pink-Level-L5: #fac3f2;
	--Theme-Pink-Level-L4: #ffa7f2;
	--Theme-Pink-Level-L3: #fa85e8;
	--Theme-Pink-Level-L2: #ff6be9;
	--Theme-Pink-Level-L1: #ff48e4;
	--Theme-Pink-Base: #ff00d7;
	--Theme-Pink-Level-D1: #e000bf;
	--Theme-Pink-Level-D2: #c200a5;
	--Theme-Pink-Level-D3: #ad0193;
	--Theme-Pink-Level-D4: #94017e;
	--Theme-Pink-Level-D5: #70005f;

	--Theme-Dynamic-Level-L5: var(--Theme-Violet-Level-L5);
	--Theme-Dynamic-Level-L4: var(--Theme-Violet-Level-L4);
	--Theme-Dynamic-Level-L3: var(--Theme-Violet-Level-L3);
	--Theme-Dynamic-Level-L2: var(--Theme-Violet-Level-L2);
	--Theme-Dynamic-Level-L1: var(--Theme-Violet-Level-L1);
	--Theme-Dynamic-Base: var(--Theme-Violet-Base);
	--Theme-Dynamic-Level-D1: var(--Theme-Violet-Level-D1);
	--Theme-Dynamic-Level-D2: var(--Theme-Violet-Level-D2);
	--Theme-Dynamic-Level-D3: var(--Theme-Violet-Level-D3);	
	--Theme-Dynamic-Level-D4: var(--Theme-Violet-Level-D4);	
	--Theme-Dynamic-Level-D5: var(--Theme-Violet-Level-D5);	

	--Theme-Dynamic-Opacitated: var(--Theme-Violet-Base);


	

	


	--Neon-Color-1: #9600ff;
	--Neon-Color-2: #00ff6c;
	--Neon-Color-3: #00d7ff;
	--Neon-Color-4: #ff00d7;
	--Neon-Color-5: #fffc00;
	--Neon-Color-6: #ff8800;
	--CBE-UI-BGColor-Level1: #460475;
	--CBE-UI-BGColor-Level2: #38035e;
	--CBE-UI-BGColor-Level3: #23023a;
	--Debug-ElementOutline: none;
	/* Root values. This will be loaded when loadSettings() is triggered. */
	--BGColor: rgb(43, 43, 43);
	--BGColor-Opacitated: rgba(22, 22, 22, 0.50);
	--Header-Thumbnail-Fade-Color: rgba(255,255,255,100);
	--Header-Title-Color: #171717;
	--Header-Details-Color: #171717;
	--Header-Content-Text-Color: #171717;
	--Article-BGColor: #ffffff;
	/*--BG-WallpaperImg: url(../Assets/Background/default_New.png);*/
	--BG-WallpaperImg: none;
	
	--Element-Transition-Delay: 0.3s; /*Delay on transition */
	--Element-BoxShadow: 0cm 0cm 0.28218705792108cm 0.03527338224013cm rgb( 0, 0, 0, 0.50); /*Box shadow property */
	--Element-Icon-Brightness: brightness(1);
	--Element-Icon-Brightness-Focus: brightness(0);
	--Element-BackdropBlur: blur(25px);
	
	--Text-Color: white; /* Global text color */
	--Text-Font-Header-Title: Hauser Condensed;
	--Text-Font-Header-Text: Franklin;
	--Text-Font-Sidebar-Links: Franklin;
	--Text-Font-Sidebar-Text: Roboto;
	--Text-Font-Branch-Title: Hauser;
	--Text-Font-Branch-Description: Franklin;
	--Text-Font-Primary: Franklin; /* Titles */
	--Text-Font-Secondary: Roboto; /* Paragraphs, list items */
	--Text-Font-List: Roboto;
	--Text-Font-Numbers: Roboto; /* For elements mostly composed of numbers */
	
	
	--Accent-Color: #2a9d8f; /* Page's accent color Old: #9f4f52*/ 
	--Accent-Color-Hover: #a03d13; /* Accent color when hovered Old: #9f4f52*/
	--BGColor-General: #171010; /* BG color for everything that does not fall on the categories below */
	--BGColor-Hover: #242424; /* BG color for hovered items */
	--BGColor-Menus: #171010; /* Sidebar, Header */
	--BGColor-Subwindows: #292929; /* Add item, wallpaper selection */
	--BGColor-Dropdowns: #171010; /* Page Navigation, internet status, dropdown inputs */
	/* --BGColor-Opacitated: rgba(2, 48, 166, 0.5); For elements with blur effects */
	--BGColor-ShortcutButtons: #1E1E24; /* Shortcut buttons */
	--BGColor-Buttons: #1E1E24; /* General buttons, subwindow buttons */
	--BGColor-Input: #121212; /* Input textboxes, dropdowns */
	--Color-Dividers: #282830; /* Divider colors */

	--Element-Margin-Left: 15%;
	--Element-Margin-Right: 15%;
	--Element-Padding: 10px;
	@media only screen and (max-width: 750px){
		--Element-Margin-Left: 10px;
		--Element-Margin-Right: 10px;
	}
}

:darkmode{
	/* Root values. This will be loaded when loadSettings() is triggered. */
	--BG-WallpaperImg: url(../Assets/Background/gardenofwords.jpg);
	--Element-BackdropBlur: blur(10px);
	--Element-Transition-Delay: 0.3s; /*Delay on transition */
	--Element-BoxShadow: 0cm 0cm 0.28218705792108cm 0.03527338224013cm rgb( 0, 0, 0, 0.50); /*Box shadow property */
	--Element-Icon-Brightness: brightness(1);
	--Element-Icon-Brightness-Focus: brightness(0);
	
	--Text-Color: white; /* Global text color */
	--Text-Font-Primary: Raleway; /* Titles */
	--Text-Font-Secondary: Roboto; /* Paragraphs, list items */
	--Text-Font-Numbers: Roboto; /* For elements mostly composed of numbers */
	
	
	
	--Accent-Color: #9f4f52; /* Page's accent color */
	--Accent-Color-Hover: #9f4f52; /* Accent color when hovered */
	--BGColor-General: #171010; /* BG color for everything that does not fall on the categories below */
	--BGColor-Hover: #242424; /* BG color for hovered items */
	--BGColor-Menus: #171010; /* Sidebar, Header */
	--BGColor-Subwindows: #292929; /* Add item, wallpaper selection */
	--BGColor-Dropdowns: #171010; /* Page Navigation, internet status, dropdown inputs */
	--BGColor-Opacitated: rgba(28, 28, 28, 0.5); /* For elements with blur effects */
	--BGColor-ShortcutButtons: #1E1E24; /* Shortcut buttons */
	--BGColor-Buttons: #1E1E24; /* General buttons, subwindow buttons */
	--BGColor-Input: #121212; /* Input textboxes, dropdowns */
	--Color-Dividers: #282830; /* Divider colors */
}

:lightmode{
	/* Root values. This will be loaded when loadSettings() is triggered. */
	/*--BG-WallpaperImg: url(../Assets/Background/lightmode.jpg);*/
	
	--Element-Transition-Delay: 0.3s; /*Delay on transition */
	--Element-BoxShadow: 0cm 0cm 0.28218705792108cm 0.03527338224013cm rgb( 0, 0, 0, 0.50); /*Box shadow property */
	--Element-Icon-Brightness: brightness(1);
	--Element-Icon-Brightness-Focus: brightness(0);
	--Element-BackdropBlur: blur(10px);
	--Text-Color: white; /* Global text color */
	--Text-Font-Primary: Raleway; /* Titles */
	--Text-Font-Secondary: Roboto; /* Paragraphs, list items */
	--Text-Font-Numbers: Roboto; /* For elements mostly composed of numbers */
	
	
	
	--Accent-Color: #4287f5; /* Page's accent color */
	--Accent-Color-Hover: #4287f5; /* Accent color when hovered */
	--BGColor-General: #9ec3ff; /* BG color for everything that does not fall on the categories below */
	--BGColor-Hover: #80b0ff; /* BG color for hovered items */
	--BGColor-Menus: #f5f5f5; /* Sidebar, Header */
	--BGColor-Subwindows: #6a89bd; /* Add item, wallpaper selection */
	--BGColor-Dropdowns: #6e6e6e; /* Page Navigation, internet status, dropdown inputs */
	--BGColor-Opacitated: rgba(122, 157, 214, 0.5); /* For elements with blur effects */
	--BGColor-ShortcutButtons: #629af5; /* Shortcut buttons */
	--BGColor-Buttons: #629af5; /* General buttons, subwindow buttons */
	--BGColor-Input: #445b80; /* Input textboxes, dropdowns */
	--Color-Dividers: #454545; /* Divider colors */
}