.Gallery_Title{
    font-family: Raleway;
    color: var(--ColorProfile-Text-Color);
    text-transform: uppercase;
    margin-bottom: 0;
    margin-left: 10%;
    margin-right: 10%;
}

.Gallery_Description{
    margin-top: 0;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Roboto;
    color: white;
    text-align: justify;
}

.Gallery_Information{
    width: calc(100% - 20%);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    display: flex;
    grid-gap: 10px;
    flex-wrap: wrap;
    /* background-color: gray; */
}

.Gallery_Information_Item{
    width: auto;
    display: flex;
    flex-direction: row;
    grid-gap: 5px;
    padding: 10px;
    background-color: var(--ColorProfile-BGColor-Level2);
}

.Gallery_Information_Item > p{
    margin: 0;
}

.Gallery_Information_Item_Title{
    font-weight: 700;
    font-family: Roboto;
    color: white;
}

.Gallery_Information_Item_Value{
    font-family: Roboto;
    color: white;
}



/* .Gallery_Album_Item:nth-child(1){
    background-image: url("../Assets/Images/Gallery/ES_Template_Photos/1.png");
}

.Gallery_Album_Item:nth-child(2){
    background-image: url("../Assets/Images/Gallery/ES_Template_Photos/2.png");
}

.Gallery_Album_Item:nth-child(3){
    background-image: url("../Assets/Images/Gallery/ES_Template_Photos/3.png");
}

.Gallery_Album_Item:nth-child(4){
    background-image: url("../Assets/Images/Gallery/ES_Template_Photos/4.png");
}

.Gallery_Album_Item:nth-child(5){
    background-image: url("../Assets/Images/Gallery/ES_Template_Photos/5.png");
}

.Gallery_Album_Item:nth-child(6){
    background-image: url("../Assets/Images/Gallery/ES_Template_Photos/6.png");
}

.Gallery_Album_Item:nth-child(7){
    background-image: url("../Assets/Images/Gallery/ES_Template_Photos/7.png");
}

.Gallery_Album_Item:nth-child(8){
    background-image: url("../Assets/Images/Gallery/ES_Template_Photos/8.png");
}

.Gallery_Album_Item:nth-child(9){
    background-image: url("../Assets/Images/Gallery/ES_Template_Photos/9.png");
}

.Gallery_Album_Item:nth-child(10){
    background-image: url("../Assets/Images/Gallery/ES_Template_Photos/10.png");
}

.Gallery_Album_Item:nth-child(11){
    background-image: url("../Assets/Images/Gallery/ES_Template_Photos/11.png");
}

.Gallery_Album_Item:nth-child(12){
    background-image: url("../Assets/Images/Gallery/ES_Template_Photos/12.png");
} */

.Gallery_ImageView{
    position: fixed;
    backdrop-filter: var(--Element-BackdropBlur);
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: calc(100% - 50px);
    display: grid;
    grid-template-rows: 50px 1fr;
    /* display: none; */
}

.Gallery_ImageView_Top{
    display: grid;
    grid-template-columns: 1fr 50px;
    align-items: center;
}

.Gallery_ImageView_Top_Title{
    font-family: Hansief;
    visibility: hidden;
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding-left: 10px;
}

.Gallery_ImageView_Top_Close{
    width: 20px;
    padding: 15px;
}

.Gallery_ImageView_Preview{
    width: calc(100% - 20px);
    display: flex;
    justify-content: center;
    padding: 10px;
}

.Gallery_ImageView_Preview_Image{
    height: 100%;
    width: 100%;
    /* background-color: #264653; */
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    background-image: url("../Assets/Images/Gallery/ES_Template_Photos/1.png");
}

.Gallery_Album_Loader{
    background-color: var(--ColorProfile-BGColor-Level2);
    width: calc(100% - 20% - 20px);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-family: Roboto;
    color: white;
    text-align: center;
    cursor: pointer;
}

.Gallery_Section{
    height: 250px;
    background-color: var(--Theme-Dynamic-Level-D3);
    margin-top: 20px;
    box-shadow: 10px 10px 0px 0px var(--Theme-Dynamic-Level-D4), 9px 9px 0px 0px var(--Theme-Dynamic-Level-D4), 8px 8px 0px 0px var(--Theme-Dynamic-Level-D4), 7px 7px 0px 0px var(--Theme-Dynamic-Level-D4), 6px 6px 0px 0px var(--Theme-Dynamic-Level-D4), 5px 5px 0px 0px var(--Theme-Dynamic-Level-D4), 4px 4px 0px 0px var(--Theme-Dynamic-Level-D4), 3px 3px 0px 0px var(--Theme-Dynamic-Level-D4), 2px 2px 0px 0px var(--Theme-Dynamic-Level-D4), 1px 1px 0px 0px var(--Theme-Dynamic-Level-D4);
}

.Gallery_Section_Content{
    height: -webkit-fill-available;
    padding: 20px;
    padding-top: 0px;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

.Gallery_Section:nth-child(even) > .Gallery_Section_Content{
    justify-items: end;
}

.Gallery_Section:nth-child(even) > .Gallery_Section_Content > h1, .Gallery_Section:nth-child(even) > .Gallery_Section_Content > h4{
    text-align: right;
}

.Gallery_Section_Content_Title{
    font-family: Hauser;
    color: var(--Theme-Dynamic-Level-L1);
    font-size: 60px;
    margin: 0;
    text-shadow: 5px 5px 0px var(--Theme-Dynamic-Level-D2), 4px 4px 0px var(--Theme-Dynamic-Level-D2), 3px 3px 0px var(--Theme-Dynamic-Level-D2), 2px 2px 0px var(--Theme-Dynamic-Level-D2), 1px 1px 0px var(--Theme-Dynamic-Level-D2);
}

.Gallery_Section_Content_Paragraph{
    font-family: Franklin;
    color: var(--Theme-Dynamic-Level-L1);
    font-size: 20px;
    margin: 0;
}

.Gallery_Section_Content > .General_Button{
    margin-top: 20px;
    width: 150px;
}

.Gallery_Album{

}

.Gallery_Album_Section[Type = "Grid"], .Gallery_Album_Section[Type = "Grid_Full"]{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.Gallery_Album_Section[Type = "Full"]{
    display: flex;
    flex-direction: column;
}

.Gallery_Album_Section[Type = "Grid"] > .Gallery_Album_Section_Item{
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1/1;
}

.Gallery_Album_Section[Type = "Full"] > .Gallery_Album_Section_Item{
    /* overflow: hidden; */
    /* width: 100%; */
    /* aspect-ratio: 1/1; */
    height: auto;
    margin-bottom: 10px;
}


.Gallery_Album_Section_Item{
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: Gallery_Album_Section_Item_Loading;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: pointer;
    border: solid transparent 3px;
    background-color: unset;
    outline: unset;
    padding: unset;
    user-select: none;
}

.Gallery_Album_Section_Item:hover, .Gallery_Album_Section_Item:focus{
    border: solid var(--Theme-Dynamic-Base) 3px;
}

.Gallery_Album_Section_Item:hover > *{
    transform: scale(0.95) !important;
}

.Gallery_Album_Section_Item:focus > *{
    transform: scale(0.95) !important;
}

.Gallery_Album_Section_Item[Loaded = True]{
    animation-name: unset;
}

.Gallery_Album_Section_Item_Image{
    height: 100%;
    opacity: 0%;
    transform: scale(0.9);
}

.Gallery_Album_Section[Type = "Grid_Full"] > .Gallery_Album_Section_Item > .Gallery_Album_Section_Item_Image,
.Gallery_Album_Section[Type = "Full"] > .Gallery_Album_Section_Item > .Gallery_Album_Section_Item_Image{ 
    width: 100%;
    object-fit: contain;
}

/* .Gallery_Album_Section_Item_Image{
    width: 100%;
    opacity: 0%;
    transform: scale(0.9);
} */

.Gallery_Album_Section_Item_Image[Loaded = "True"]{
    opacity: 100% !important;
    transform: scale(1);
}

@keyframes Gallery_Album_Section_Item_Loading{
    0%{
        background-color: transparent;
    }
    50%{
        background-color: var(--Theme-Dynamic-Level-D2);
    }
    100%{
        background-color: transparent;
    }
}