.GRBRKR_Sequence {
    /* width: 100%;
    height: 100%; */
    /* background-color: black; */
    position: fixed;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    cursor: grab;
    /* transition: unset !important; */
    top: 0;
    left: 0;
    transform-origin: top left;
}

.GRBRKR_Sequence_Timeline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.GRBRKR_Sequence_Arc {
    width: auto;
    height: 300px;
    padding: 50px;
    /* border: solid var(--Theme-Dynamic-Level-L3) 2px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    user-select: none;
    position: relative;
}

.GRBRKR_Sequence_Arc_Title {
    font-family: var(--Text-Font-Primary);
    color: var(--Theme-Dynamic-Level-L3);
    margin: 0;
    position: absolute;
    width: 100%;
    /* background-color: red; */
    top: 0;
    /* text-align: center; */
    padding: 20px;
    margin-left: 50px;
}

.GRBRKR_Sequence_Arc_Item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.GRBRKR_Sequence_Arc_Item_Button {
    width: 75px;
    height: 75px;
    background-color: var(--BGColor);
    border: solid var(--Theme-Dynamic-Level-L3) 2px;
    transform: rotate(45deg);
    pointer-events: all;
    cursor: pointer;
}

.GRBRKR_Sequence_Arc_Item_Button:active {
    border-style: dotted;
}

.GRBRKR_Sequence_Arc_Item_Button_Text {
    font-family: var(--Text-Font-Title-Primary-Slim);
    color: var(--Theme-Dynamic-Level-L3);
    margin: 0;
    transform: rotate(-45deg);
    font-size: 45px;
}

.GRBRKR_Sequence_Arc_Item_Connector {
    border: solid var(--Theme-Dynamic-Level-L3) 1px;
    width: 150px;
    height: 0px;
}

.GRBRKR_Window_Header {
    border-bottom: solid var(--Theme-Dynamic-Level-L3) 2px;
    padding: 20px;
}

.GRBRKR_Window_Chapter {
    font-family: var(--Text-Font-Primary);
    color: var(--Text-Color);
    margin: 0;
}

.GRBRKR_Window_Title {
    font-family: var(--Text-Font-Title-Primary-Slim);
    color: var(--Text-Color);
    margin: 0;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 43px;
}

.GRBRKR_Window_Arc {
    font-family: var(--Text-Font-Primary);
    color: var(--Text-Color);
    margin: 0;
    margin-top: 10px;
}

.GRBRKR_Window_Content{
    padding: 20px;
}

.GRBRKR_Window_Description{
    font-family: var(--Text-Font-Secondary);
    color: var(--Text-Color);
    margin: 0;
}

